[submodule "agent-zero"]
	path = agent-zero
	url = https://github.com/agent0ai/agent-zero.git
[submodule "kilo-dev-mcp-server"]
	path = kilo-dev-mcp-server
	url = https://github.com/Kilo-Org/kilo-dev-mcp-server.git
[submodule "kilo-docs"]
	path = kilo-docs
	url = https://github.com/Kilo-Org/docs.git
[submodule "kilo-marketplace"]
	path = kilo-marketplace
	url = https://github.com/Kilo-Org/kilo-marketplace.git
[submodule "kilocode"]
	path = kilocode
	url = https://github.com/Kilo-Org/kilocode.git
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "open-webui"]
	path = open-webui
	url = https://github.com/open-webui/open-webui.git
[submodule "vscodium"]
	path = vscodium
	url = https://github.com/VSCodium/vscodium.git
